@import "../../App.scss";

.player-container-big{
    display: flex;
    align-items: center;
    width: 100vw;
    @include tablet{
        align-items:flex-start
    }
    .player-big{
        object-fit: cover;
    }
}
.top-btn-container{
    color: white;
    position:absolute;
    top: 0;
    left: 0;    
    z-index: 2;

    button{
        margin: 0;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    i{
        transform: rotate(180deg);
        font-size: 5rem;
        cursor:pointer;
    }

}