@import url('https://fonts.googleapis.com/css2?family=Lato:wght@800&display=swap');

$primary-color: #E50914;
$secondary-color: #484d55;
$slider-item-h: 15rem;
$slider-item-h-hover: $slider-item-h + calc($slider-item-h / 3);

*{
margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  // font-size: 1rem;
  
}

html{
  height: 100vh;
  width: 100vw;
  max-width: 100%
}

body{
  background-color: #151515;
  overflow-y: scroll;
  overflow-x:hidden;

}

.my-main-app-container{
  height: 100%;
}

input{
  border: 0;
  border-radius: 0.25rem;
}

button{
  border: 0;
  border-radius: 0.25rem;
  background-color: $primary-color;
  color: white;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, scale 0.2s ease-in-out;
  box-shadow: none;
  scale: 1;
  cursor: pointer;

  &:hover{
    box-shadow: 3px 3px 3px #292929;
    scale: 1.02;
    background-color: darken($primary-color, 5);
  }

}


@mixin tablet {
  @media (max-width: 860px) {@content;}

}

@mixin mobile { 
  @media (max-width: 480px) {@content;}
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
