@import "../../App.scss";

.my-featured-container{
    display: flex;
    flex-direction: column;
    justify-content: end;   
    width: 100vw;
    max-width: 100%;
    height: 90vh;
     
    .bg-img{
        // outline : 1px solid red;
        width: 100%;
        max-width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    .my-feature-dits-container{
        position: absolute;
        // outline : 1px solid red;
        //background-color: rgb(25, 233, 233);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:end;
        
        margin-bottom: 5rem;

        .my-featured-title-img-container{
            // outline : 1px solid red;
            width: 50%;
            @include mobile{
                display: flex;
                align-self: center;
                justify-content: center;
                width: 100%;
            }
            img {
                
                width: 600px;
                min-width: 300px;
                max-width: 100%;
                object-fit: cover;

                @include mobile{
                    padding-bottom: 2rem;
                    margin-left: 0.5px;
                }
            }
        }

        .my-featured-desc-container{
            //  background-color: aquamarine;
            // outline : 1px solid red;
            width: 50%;
            display: flex;
            justify-content:flex-start;
            align-items: start;

            p{
                color: white;
                font-size: large;
                overflow-wrap: normal;
                font-weight: 700;
                margin: 20px;

                @include tablet{

                    //outline: red 1px solid;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 8;
                    line-clamp: 8;
                    -webkit-box-orient: vertical;
                    // padding-bottom: 15rem;   
                }

                @include mobile{
                    display: none;   
                }
            }
        }

        .my-featured-btn-container{
            // background-color: aquamarine;
        //    outline : 1px solid red;
            height: 20%;

            display: flex;
            justify-content:space-between;
            align-items: center;

            .my-featured-btn-left-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 40%;

                display: flex;
                justify-content: flex-start;
                padding-left: 1rem;

            }

            .my-featured-btn-right-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 40%;
                gap: 0.5rem;
                display: flex;
                justify-content: flex-end;

                // button{
                //     background-color: transparent;
                //     border: ghostwhite 2px solid;
                //     border-radius: 50%;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     width: 50px;
                //     box-shadow: none;
                // }
                .my-age-box{
                    background-color:rgb(18,18,18,0.65);
                    color: white;
                    height: 50px;
                    width: 25%;
                    border-left: 3px solid white;
                    display: flex;
                    align-items: center;
                    padding-left: 0.225rem;
                
                    @include mobile{
                        width: 35%;
                        margin-top: 10%;     
                    }   

                }
            }
        }
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 1rem;
    //padding-left: 0.25rem;

    @include mobile{  
        height: 30%;  
        font-size: large;
        // margin: 0.15rem;
        padding: 1rem;
        margin-left: 10px;
    }

    .btn-icon{
        font-size: larger;
        padding-bottom: 2px;
    }
}

.my-button-secondry{
    background-color: $secondary-color;

    &:hover{
      background-color: darken($secondary-color, 5);
    }
}



// @media only screen and (max-width: 860px) {
//     .my-featured-desc-container {
//             overflow: hidden;
//             text-overflow: ellipsis;
//             display: -webkit-box;
//             -webkit-line-clamp: 4;
//             line-clamp: 4;
//             -webkit-box-orient: vertical;
//             padding-bottom: 2px;
//     }

//   }