@import "../../App.scss";

.my-featured-container{
    display: flex;
    flex-direction: column;
    justify-content: end; 
    width: 100vw;

    height: 100vh;
     
    .bg-img{
        // outline : 1px solid red;
        width: 100%;
        max-width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    .my-feature-dits-container{
        //outline : 1px solid red;
        //background-color: rgb(25, 233, 233);

        position: absolute;
        width: 100%;
        max-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content:end;
        gap: 1.5rem;  
        padding-left: 2rem;
        margin-bottom: 10rem;

        .my-featured-title-img-container{
            //outline : 1px solid red;

            width: 30%;
            height: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;


            @include mobile{
                display: flex;
                align-self: center;
                justify-content: center;
                width: 100%;
                padding-right: 2rem;
            }
            img {
                
                height: 100%;
                width: 100%;
                min-width: 350px;
                object-fit: scale-down;
                
            }
        }

        .my-featured-desc-container{
            //  background-color: aquamarine;
            //outline : 1px solid red;

            width: 50%;
            display: flex;
            justify-content:flex-start;
            align-items: flex-start;

            @include tablet{
                width: 100%;
                padding-right: 2rem;
            }


            p{
                color: white;
                font-size: large;
                overflow-wrap: normal;
                font-weight: 700;

                overflow: hidden;
                text-overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }

        .my-featured-btn-container{
            // background-color: aquamarine;
            //outline : 1px solid red;

            height: 20%;
            margin-top: 1rem;
            display: flex;
            justify-content:space-between;
            align-items: center;

            .my-featured-btn-left-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 40%;
                gap: 1rem;
                display: flex;
                justify-content: flex-start;

            }

            .my-featured-btn-right-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 30%;
                gap: 0.5rem;
                display: flex;
                justify-content: flex-end;

                // button{
                //     background-color: transparent;
                //     border: ghostwhite 2px solid;
                //     border-radius: 50%;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     width: 50px;
                //     box-shadow: none;
                // }
                .my-age-box{
                    background-color:rgb(18,18,18,0.65);
                    color: white;
                    height: 50px;
                    width: 25%;
                    border-left: 3px solid white;
                    display: flex;
                    align-items: center;
                    padding-left: 0.5rem;
                
                    @include mobile{
                        width: 35%;     
                    }   

                }
            }
        }
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 900;

    @include mobile{  
        // height: 30%;  
        font-size: large;
        // margin: 0.15rem;
        padding: 1rem;
        margin-left: 10px;
    }

    .btn-icon{
        font-size: larger;
        padding-bottom: 2px;

    }
}

.my-button-secondry{
    background-color: $secondary-color;

    &:hover{
      background-color: darken($secondary-color, 5);
    }
}
