@import "../../App.scss";

.my-featured-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 100vw;
    max-width: 100%;
    height: 100vh;

    .bg-img{
        position: absolute;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .my-feature-dits-container{

        //background-color: rgb(25, 233, 233);
        height: 40%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .my-featured-title-img-container{
            //background-color: aquamarine;
            height: 40%;
            display: flex;
            justify-content:flex-start;
            align-items: end;
            margin-left: -1.2rem;
            
            img {
                width: 380px;
                padding-left: 2rem;
            }
        }

        .my-featured-desc-container{
            // background-color: aquamarine;
            width: 50%;

            display: flex;
            justify-content:flex-start;
            align-items: start;

            p{
                color: white;
                font-size: large;
                font-weight: 700;
                overflow-wrap:normal;
                padding: 2rem;
            }

        }

        .my-featured-btn-container{
            //background-color: aquamarine;
            height: 20%;

            display: flex;
            justify-content:space-between;
            align-items: center;

            .my-featured-btn-left-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 40%;

                display: flex;
                justify-content: flex-start;
                padding-left: 1rem;

            }

            .my-featured-btn-right-container{
                //background-color: rgb(0, 0, 0);
                height: 100%;
                width: 40%;
                gap: 0.5rem;
                display: flex;
                justify-content: flex-end;

                button{
                    background-color: transparent;
                    border: ghostwhite 2px solid;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    box-shadow: none;
                }
                .my-age-box{
                    background-color:rgb(18,18,18,0.65);
                    color: white;
                    height: 50px;
                    width: 25%;
                    border-left: 3px solid white;
                    display: flex;
                    align-items: center;

                    p{
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 1rem;

    .btn-icon{
        font-size: larger;
        padding-bottom: 2px;
    }
}

.my-button-secondry{
    background-color: $secondary-color;

    &:hover{
      background-color: darken($secondary-color, 5);
    }
}



@media only screen and (max-width: 860px) {
    .my-featured-desc-container {
        width: 100% !important;
    }

  }