@import "../App.scss";

body{
    color: white;

}

.searchPage-main-container{
    //outline: red 1px solid;
    min-height: 100vh;
    margin-top: 6rem;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchPage-searchbar-container{
        visibility: hidden;
    
        @include tablet {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 2rem;
            visibility: visible;
        }
    }


    .searchPage-subcontainer{
        //outline: red 1px solid;
    
        display: flex;  
        color: white;
    
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .genres-containr{
            // outline: green 1px solid; 
            // background-color: grey;
    
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 10rem;
            
            @include tablet{
                margin-block: 3rem;
            }

            .link-container{
                
                padding-inline: 4rem;

                .big-screen-link-container
                {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    font-size: larger;
                    font-weight: 600;

                    @include tablet{
                        display: none !important;
                    }

                }

                a{
                    color: white;
                    text-decoration: none;
                }

            }
    
    
        }
    
        .contents-container{
            // outline: blue 1px solid;
            // background-color: grey;
    
            width: 90%;
            display: flex;
            flex-wrap:wrap;
            justify-content: flex-start;
            align-content:start;
            gap: 1rem;
            padding-block: 2rem;
            padding-inline: 2rem;

            overflow-y: scroll; 

    
            @include tablet{
                justify-content: center;
            }

    
            .search-res-item{
                // outline: yellow 1px solid;
    
                width: 18rem;
                // aspect-ratio: 16/9;
                border-radius: 0.75rem;
                
                transform: scale 0.3s ease-in-out;
                &:hover{
                    scale: 1.2;
                    z-index: 2;
                    
                }
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    border: 1.5px solid rgba(255, 255, 255, 0.75);
                    border-radius: 0.75rem;
                }
    
            }
        }
    }
}


.small-screen-container{
    display: none;
    font-size: larger;
    font-weight: 600;
    .genreDropdown{
        background-color: #151515;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        gap: 0.5rem;
        position: absolute;
        top: 17rem;
        z-index: 2;


    }

    @include tablet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}