@import "../../App.scss";

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #fff;
}

.mySwiper {
    margin-top: 0.5rem;

    h1 {
        color: #fff;
        padding-left: 15px;
    }
}

.swiper {
    width: 100%;
}


.swiper-wrapper {
    padding: 5.5rem 0;  
}

.swiper-slide {
    text-align: center;
    background: #fff;
    width: 100%;
    border-radius: 7px;


    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 250ms all;

    &:hover {
        transform: scaleX(1.5) scaleY(1.8);
        z-index: 1;
    }

    &:first-child:hover {
        margin: 0 30px;
    }

    &:last-child:hover {
        margin: 0 -30px;
    }


}

.slide-item-container{

    height: 18vh;
    width: 100%;
    border-radius: 7px;
    & :hover{
        border-radius: 7px;
    }

    img{
        height: 101%;
        width: 101%; 
        border-radius: 5px;
    }
}