@import "../../App.scss";

.slider-container{
    color: white;
    padding-top: 5rem;
    h1{
        padding-bottom: 0.5rem;
    }
}

.swiper{
    overflow-y: visible;
    max-width: 100%
}

.swiper-slide{
    border-radius: 7px;
    transition: all 0.2s;

    &:hover{
        transform: scaleX(1.675) scaleY(2);
        //transform: scaleX(1.52) scaleY(1.83);

        z-index: 3;
        .swiper-button-next,
        .swiper-button-prev{
                visibility: hidden;
            }
    }

    &:first-child:hover {
        margin: 0 50px;
    }

    &:last-child:hover {
        margin: 0 -50px;
    }
}

//Arrow Prev Next Buttons
.disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-prev,
.swiper-button-next {
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    opacity: 1;
  }

.swiper-button-prev:after{
    color: #fff;
    background-color:rgb(18,18,18,0.65);
    height: 15rem;
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 25px;

}

.swiper-button-next:after {
    color: #fff;
    background-color:rgb(18,18,18,0.65);
    height: 15rem;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 35px;
}

//Slide item
.item{
    background-color: red;
    height: 15rem;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}