@import "../../App.scss";

.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0.5%;
    height: 20vh;

    color: white;

    h2{
        margin: 0.5%;  
    }
}

.slider-sub-container{
    height: 18vh;
    
    button{
        background-color:rgb(18,18,18,0.65);
        height: 15vh;
        width: 2%;
        border-radius: 0;
        box-shadow: none;
    }
    .react-multiple-carousel__arrow--left {
        left: 0;
        margin: 0;
    }

    .react-multiple-carousel__arrow--right {
        right: 0;

    }
}


.slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    height: 15vh;
    margin-right: 0.25vw;
    color: white;
}

// .slider-item:hover ~ .slider-item {
//     transform: translateX(25%);
//  }

 
// .slider-item:hover {
//     // position: relative;
//     // z-index: 999;
//     transform: scale(2) !important;
//     background-color: royalblue;
// }

// .slider-sub-container:hover .slider-item {
//     transform: translateX(-25%);
// }
