@import "../../App.scss";



.slider-container{
    color: white;
    padding-top: 2.5rem;
    position: relative;
    h1{
        padding-bottom: 0.5rem;
    }
    & :hover{
        z-index: 2;
    }
}

.swiper{
    overflow-y: visible;
    max-width: 100%
}

.swiper-slide{
    border-radius: 7px;
    transition: all 0.2s;

    &:hover{
        //transform: scale(1.675);
        transform: scale(1.5);
        @include tablet {
            transform: scale(1) !important;
        }
        @include mobile {
            margin: 0 !important;
        }

        z-index: 2;
        .swiper-button-next,
        .swiper-button-prev{
                display: hidden;
            }
    }

    &:first-child:hover {
        margin: 0 95px;
    }

    &:last-child:hover {
        margin: 0 -95px;
    }
}

//Arrow Prev Next Buttons
.disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-prev,
.swiper-button-next {
    transition: opacity 0.3s ease;
    opacity: 0;
;
  }
  
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    opacity: 1;

  }

.swiper-button-prev:after{
    color: #fff;
    background-color:rgb(18,18,18,0.65);
    height: $slider-item-h;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 25px;
}

.swiper-button-next:after {
    color: #fff;
    background-color:rgb(18,18,18,0.65);
    height: $slider-item-h;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 50px;
}
