@import "../../App.scss";

.info-container{
    height: 100%;
    width: 100vw;
    max-width: 100%;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}