@import "../../App.scss";

.my-navbar-container{   
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;

    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: background-color 0.35s ease-in-out;

    &.scrolled {
        background-color: #121212;
      }

      a {
        color: white;
        font-weight: 400;
        text-decoration: none; 

        &:hover{
            color: darken($color: #fff, $amount: 15%);
        }
        &.active {
            font-weight: 800;     
        }
     }   

        .my-icon{
            font-size: 2.5rem;
            cursor: pointer;
        }

        .my-left-side-container{
            display: flex;
            align-items:center;
            gap: 2rem;
            width: 100vw;

            img {
                width: 10rem;
            }

            .left-side-links-container{
                display: flex;
                align-items:center;
                gap: 1.5rem;

                .my-link-container{
                    display: flex;
                    align-items:center;
                    gap: 0.5rem;
                }
            }
        }

        .my-right-side-container{
            display: flex;
            justify-content: end;
            align-items:center;
            font-size: large;
            gap:2rem;
            width: 80%;
            height: 6rem;
            
            .my-search-container{
                display: flex;
                align-items:center;
                justify-content:flex-end ;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-left: 0.25rem;
                transition: border 0.5s ease;
                border: none;
                width: 90%;
                gap: 1.5rem;

                &.shown{

                    transition: width 0.5s ease;
                    border: rgb(200, 200, 200) solid 2px;
                    border-radius: 12px;  
                }

                .my-search-input{
                    background-color: transparent;
                    color: white;
                    outline: none;
                    font-size:large;
                    text-indent: 0.75rem;
                    transition: width 0.3s ease;
                    width: 0%;
                    gap:0.5rem;

                    &.shown{
                        transition: width 0.3s ease;
                        width: 90%;  
                    }
                }

            }


            .my-account-container{
                display: flex;
                align-items:center;
                gap: 0.5rem;

                .my-arrow-icon-span{
                    transition: transform 0.3s;
                    font-size: 1.5rem;

                    &:hover{
                        transform: rotate(0.5turn);
                    }
                }
            }   
        }

        @include tablet{
            font-size: 14px;
            padding-top: 2%;
            flex-direction: column;
            align-items: start;

            .my-right-side-container{
                justify-content: end;
                width: max-content;
                gap: 1.5rem;
            }

            .my-icon{
                font-size: 100%;
            }

            .my-search-container{
                width: 100%;

                .my-search-input{
                    &.shown{
                        width: 90%;  
                    }
                }
                
            }
        }

        @include mobile{
            .my-right-side-container{
                // padding-bottom: 5%;
                // padding-top: 0.5rem;    
            }
        }
}


