@import "../../App.scss";

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0.5%;
    height: 20vh;
    color: white;


    h2 {
        margin: 0.5%;  
    }

    outline: 1px solid royalblue;
}

.slider-sub-container {
    width: 100%;
    height: 80%;
    overflow: visible; /* Change overflow to 'hidden' */
    outline: 1px solid royalblue;
    position: relative; /* Create a stacking context */

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            height: 100%;
            


        }
    }

    button {
        background-color: rgba(18, 18, 18, 0.65);
        height: 100%;
        width: 2%;
        border-radius: 0;
        box-shadow: none;
    }

    .react-multiple-carousel__arrow--left {
        left: 0;
        margin: 0;
    }

    .react-multiple-carousel__arrow--right {
        right: 0;
    }

    outline: 1px solid royalblue;


}

.slide{
    color: aliceblue;
   }