@import "../../App.scss";

// .slider-item {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 300px;
//     height: 300px;
//     margin-right: 0.25vw;

//     color: white;
//     transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
//     transform: scale(1);
//     z-index: -1; /* Set z-index on the original item */
//     outline: 1px solid rgb(65, 225, 86);
//     height: 100%;
//     &.hovered-item{
//         height: 500px;
//         // background-color: aqua;
//         position: absolute;
//         z-index: 10;
//         top: -200px;
//     }
// }

// img{
//     height: 100%;
//     width: 300px;
//     object-fit: cover;
// }


.slide-item-container{

    height: 18vh;
    width: 100%;
    border-radius: 7px;
    & :hover{
        border-radius: 7px;
    }

    img{
        height: 101%;
        width: 101%; 
        border-radius: 5px;
    }
}