@import "../../App.scss";



.slide-item-container{

    height: 18vh;
    width: 100%;
    border-radius: 7px;
    & :hover{
        border-radius: 7px;
    }

    img{
        height: 100%;
        width: 100%; 
        border-radius: 5px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    height: 18vh;
    padding-bottom: 0.85rem;
    background-color: #222222;

    
    .player-or-img{
        height: 70%;

        .img-container,
        .player-container{
            border-top-left-radius: 5px;
            border-top-right-radius:  5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius:  0px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .detials-img{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius:  0px;
            height: 100%;
            max-height: 100%;

        }

        .player{
            border-top-left-radius: 5px;
            border-top-right-radius:  5px;
            height: 100%;
            max-height: 100%;
        }

    }

    .detials{
        height: 30%;
        color: white;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 0.75rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        border: 0px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius:  0px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius:  7px;

        .detials-row1{
            display: flex;
            justify-content: space-between;

            .btn-col1{
                display: flex;
                gap: 0.25rem;
            }
            .btn-col2{
                display: flex;
            }
        }
        .detials-row2{
            padding-top: 0.5rem;
            display: flex;
            font-size: 14px;
            gap: 0.85rem;
            color: rgb(152, 151, 151);
        }

    }
}


.btn-icon{
    font-size: 28px;
    cursor: pointer;
    padding-bottom: 2px;
}